.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navBorder {
  color: #0033cc;
  list-style-type: none;
  font-size: 1em;
}
.navBorder:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header {
  overflow: hidden;
  z-index: 99;
  background: #e30879;
  padding: 2% 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.topHover:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logos {
  width: 2em;
  height: 2em;
}

.footer {
  margin-top: 2%;
  padding-bottom: 3%;
  text-align: center;
  border-top: 1px solid #336eff;
}
