.navBorder {
  border: 1px solid black;
  background: #336eff;
  list-style-type: none;
  font-size: 1em;
}
.navBorder:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header {
  overflow: hidden;
  z-index: 99;
  background: #e30879;
  padding: 2% 0;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.mainUpper {
  display: flex;
  justify-content: space-between;
}
.mainLower {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
img {
  width: 80%;
  height: auto;
  max-height: 300px;
  margin-left: 3%;
}
.mainBody {
  margin-right: 03%;
}
.aboutDescription {
  max-width: 95%;
  padding: 5% 1%;
  text-align: center;
  border: 1px solid #336eff;
  margin: 8% 0 4% 0;
  border-radius: 10px;
}
.asideImg1 {
  width: 50%;
  margin-right: 2%;
}
.asideImg2 {
  width: 50%;
}

.topHover:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logos {
  width: 2em;
  height: 2em;
}

.footer {
  margin-top: 2%;
  padding-bottom: 3%;
  text-align: center;
  border-top: 1px solid #336eff;
}
